extends layout/main
include mixins/videoBlock

block content
  if user.avatarUrl
    .profile__background
      img(src=user.avatarUrl)
  .profile__container
    .profile__column
      .profile__image
        if user.avatarUrl
          img(src=user.avatarUrl)
        else
          i.fas.fa-user.fa-lg
      .profile__content
        h4=user.name
    .profile__column
      a(href=`/user${routes.editProfile}`)
        button 
          i.fas.fa-user-edit &nbsp 프로필 수정
      a(href=`/user${routes.changePassword}`)
        button 
          i.fas.fa-lock &nbsp 비밀번호 변경
  .profile__user
    h2 동영상
    .profile__user--videos
      each video in user.videos
        +videoBlock({
          id: video.id,
          fileUrl: video.fileUrl,
          title: video.title,
          uploadedAt: video.uploadedAt
        })