extends layout/main

block title
  | #{pageTitle} | #{siteName}

block content
  .form-container
    form(action=`/video${routes.editVideo(video.id)}`, method='post')
      input(type='text', name='title', id='title', placeholder='제목', maxlength='30', value=video.title)
      textarea(id='description', name='description', rows=8)=video.description
      input(type='submit', value='업로드하기')
    a(href=`/video${routes.deleteVideo(video.id)}`)
      button 
        i.fas.fa-exclamation-triangle &nbsp영상 삭제