mixin searchVideoBlock(video={})
  .searchVideoBlock
    a(href=`/video${routes.videoDetail(video.id)}`)
      .videoBox
        video(src=`/${video.fileUrl}`, width='100%')
      .video-explanation
        .video-explanation__column
          h4.video-title=video.title
        .video-explanation__column
          if video.description
            h5.video-description=video.description
          .video-creator#jsVideoCreator
            //- 후에 클릭 이벤트를 걸자
            if video.creatorAvatarUrl
              .video-creator__avatar
                if video.creatorAvatarUrl.startsWith('upload')
                  img(src=`/${video.creatorAvatarUrl}`)
                else
                  img(src=video.creatorAvatarUrl)
            else if video.creatorName
              .video-creator__avatar
                .video__img
            if video.creatorName
              h5.video-creator__name=video.creatorName
          .video-explanation__viewsAndTime
            h6.video-views 조회수 #{video.views}회 •
            h6.video-uploadedAt &nbsp #{video.uploadedAt}
            

